* {
    margin: 0;
    padding: 0;
}
.layout {
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "head head"
        "side stry"
        "side rltd"
        "foot foot";
}
.hea  dbar {
    background-color: aqua;
    grid-area: head;
}
.navbar {
    background-color: aquamarine;
    grid-area: side;
}
.story {
    background-color: bisque;
    grid-area: stry;
}
.related {
    background-color: burlywood;
    grid-area: rltd;
}
.footbar {
    background-color: cyan;
    grid-area: foot;
}